@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
  --primaryBg: #f5f7fa;
  --primaryColor:  #222834;
}

html {
  scroll-behavior: smooth;
  
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background: var(--primaryBg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

img {
  object-fit: cover;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  font-family: Nunito !important;
	scrollbar-color: #888 var(--primaryColor);
	/* Цвета: thumb и track */
	scrollbar-width: thin;
	/* Узкий скроллбар */
}

*::-webkit-scrollbar {
	width: 8px;
	/* Ширина скроллбара */
}

*::-webkit-scrollbar-thumb {
	background: #888;
	/* Цвет ползунка */
	border-radius: 4px;
	/* Скругленные края */
}

*::-webkit-scrollbar-thumb:hover {
	background: #555;
	/* Цвет при наведении */
}

*::-webkit-scrollbar-track {
	background: var(--primaryColor);
	/* Фон трека (задний план скроллбара) */
}




button{
  border: 0;
  background: none ;
  cursor: pointer;
  outline: none;
}


/*---Login/Reg----*/


.access__container, .set__password{
  max-width: 600px;
  padding:  15px;
  margin: 0 auto;

  & h1{
    font: 800 25px Nunito;
    color: #222834;
    margin:  5px 0 10px 0;

  }
  & h2{
    font-size: 18px;
    color: #525b75;
  }
  & .logo{
    text-align: center;
   
  }
  & .reg__form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px 0;
    
  }
  .login__form{
    flex-direction: column;
    margin: 25px 0;
  }
 
  & input{
    display: block;
    width: 100%;
    padding: 8px 14px;
    outline: 0;
    border: 1px solid #cbd0dd;
    border-radius: 9px;
    font-size: 14px;
    transition: all .4s ease-in-out;
    &:focus{
      box-shadow: 0 0 10px 3px #ccc;
      transform: translateY(-2px);
    }

  }
  & label{
    display: block;
    margin: 0 0 28px 0;
    position: relative;
    flex-basis: calc((100% - 20px) / 2);
    
    &:last-of-type{
      margin: 0 0 30px 0;
    }
    & p{
      font-size: 14px;
      color: #525b75;
      padding: 0 0 0 1rem;
      margin: 0 0 10px  0;
     
    }

    & .error__message{
      font-size: 12px;
      position: absolute;
      top: 100%;
      left: 0;
      color: red;
      opacity: 0;
      transition: all .4s ease-in-out;
      padding: 0;
      margin: 0;
      line-height: 1.3;
      &.show{
        opacity: 1;
      }
    }

    & .ant-select-selector{
      border-radius: 9px !important;
      & span.ant-select-selection-placeholder{
        color: #75758b !important;
      }
      & .ant-select-selection-item{
        font-size: 14px !important;
        font-family: Nunito !important;
        color: #282828 !important;
      }
    }
    
  }

  .to__login{
    text-align: center;
    color: #515151;
    & a{
      display: inline-block;
      border-bottom: 1px  dashed #000;
      color: #000;
      font-weight: 600;
      &:hover{
        transform: translateY(-2px);
      }
    }
  }

  & .options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -10px 0 30px;
    & button{
      font-size: 14px;
      border: 0;
      outline: 0;
      background: none;
      cursor: pointer;
      position: relative;

      &::after{
        content: '';
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background: #000;
        display: block;
        transition: all .4s ease-in-out;
      }
      &:hover{
     
        &::after{
          width: 100%;
        }
      }
    }
  }

}
.submit__btn{
  background-color: #3874ff;
  border: 0;
  outline: 0;
  color: #fff;
  padding: 10px 25px;
  border-radius: 9px;
  cursor: pointer;
  font-size: 14px;
  transition: all .4s ease-in-out;
  flex-basis: 100%;
  &:hover{
    box-shadow: 0 3px 10px 3px #cbcbcb;
    transform: translateY(-3px);
  }
}


.reset__pass, .firs__login{
  &  label{
    flex: 1;
    margin: 0 15px 0 0 !important;
    & input{
      height: 100%;

    }
  }
 & form{
  display: flex;
  & button{
    flex-basis: initial;
  }
 }
}





/*---Login/Reg---END----*/



/*----CheckBox----*/

label.checkbox {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: max-content;
  font-size: 1rem;
  user-select: none;
  margin: 0 !important;
  & p{
    margin: 0 0 0 10px;
    padding: 0;
  }
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  --clr: #11b398;
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #ccc;
  border-radius: 50%;
  transition: 300ms;
}

.checkbox input:checked ~ .checkmark {
  background-color: var(--clr);
  border-radius: .5rem;
  animation: pulse 500ms ease-in-out;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid #E0E0E2;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 #0B6E4F90;
    rotate: 20deg;
  }

  50% {
    rotate: -20deg;
  }

  75% {
    box-shadow: 0 0 0 8px #0B6E4F60;
  }

  100% {
    box-shadow: 0 0 0 12px #0B6E4F30;
    rotate: 0;
  }
}

/*----CheckBox--END--*/



.ant-picker-now-btn {
  display: none;
}
