.sidebar {
	padding: 16px 7px 28px 14px;
	background: var(--primaryColor);
	color: #9fa6bc;
	max-width: 250px;
	width: 100%;
	font-size: 12px;
	overflow-y: auto;
	height: 100%;

}


.sidebar li>* {
	padding: 5px 10px;
	margin: 0 0 10px 0;
	display: inline-block;
	display: flex;
	align-items: center;

	& svg {
		margin: 0 5px 0 0;
	}
}